* text=auto
*.c text eol=lf
*.h text eol=lf
*.S text eol=lf
*.ld text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.xml text eol=lf
*.vstemplate text eol=lf
*.vcxproj text eol=lf
*.zip binary
*.vsix binary
*.exe binary
